<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head><body class="container" style= "background-color: rgb(49, 145, 200); font-size: large; font-family: cursive;">


<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <h1 style="font-family: fantasy;">Random Restaurant Selection!</h1>
    <p>Please select users that will be present at your dinner party!</p>
    <ul>
        <% if (locals.users) { %>

            <% locals.users.forEach(function(user) { %>
                <form>
                <li>
                    <input name = "user" type="checkbox"> <%= user.first_name%>
                </li>
                
            <% }); %>
            <input type="submit" value = "Submit">
            </form>
        <% } %>
    </ul>
    <h2 style="font-family: fantasy;">The Randomly Selected Restaurant is:</h2>
    <% if (locals.chosen_restaurant) { %>
        <h1 style = color:white; font-size: large; font-family: cursive;"> <%= chosen_restaurant %> </h1> 
    <% } %>
   
    

</main>


<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
